.style {
    margin-left: 0px;
    margin-right: 0px;
             
}

.header {
    text-align: center;
    background-color: #ffffff;
    margin-left: 470px; 
    width: 960px;
    height: 100px;   
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    width: 250px; height: 90px;
    padding: 7px; 
    color: #ffffff;
    float: left;
    border: 2px solid #cccccc;
}

.header a:hover {
    color: red;
}

.headerright {
    float: right;
    font-size: 19px;
    padding: 40px 5px 0 0;
}

a {color: #777777;}
a:link {text-decoration: none;}

.background {
    background-image: url("../images/rockywall2.png");
    min-width: 1024px;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    border-top: 5px solid #dddddd;   
}

.container {
    float: left;
    background-color: white;
    width: 934px;
    margin-top: 40px;
    margin-left: 470px;
    border: 1px solid #dddddd;
    padding-left: 25px;
}

.contact {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    padding: 20px 20px 12px 0px;
    margin-left: 10px;
}

input[type=text], select, textarea {
    width: 850px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 25px;
    resize: vertical;
    font-size: 18px;
    color: rgb(90, 90, 90);
    
}

input[type=text]:hover {
    background-color: #cccccc;
    cursor: pointer;
}

input[type=text3], select, textarea {
    width: 850px;
    padding: 10px 20px 200px 20px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 18px;
    color: rgb(90, 90, 90);   
}

input[type=text3]:hover {
    background-color: #cccccc;
    cursor: pointer;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: whitesmoke;
    padding: 8px 20px 8px 20px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input[type=submit]:hover {
    background-color: #dddddd;
    color: rgb(49, 48, 48);
    border: 1px solid rgb(49, 48, 48);
}

.column {
    float: left;
    width: 890px;
    padding: 30px 20px 20px 0px;
    margin-right: 20px;
}

.row {
    float: left;
    border-top: 3px solid #dddddd;
    width: 890px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
    margin-left: 10px;
}

#submit {
    float: left;
    width: 84px;
    border: 1px solid #cccccc;
    margin-left: 10px;
    margin-bottom: 25px;  
}

.footer {
    clear: both; 
    width: 100%;
    height: 70px;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    position: absolute;
    bottom: 0;
}